$colorB: #fff;
$font_rem: 16px;
/* Estilos Generales */
* {
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Estilos en todo el Body */
body {
    color: $colorB;
    /*font-family: "Century Gothic";*/
    font-size: $font_rem; /* El tamaño del elemento Raíz para aplicar la unidad de medida REM */
}