// Variables para guardar los colores por defectos de la pagina
$colorB: #fff;
$colorN: #000;
$rgbaN: rgba(0,0,0, .4);
$rgbaB: rgba(255,255,255, .8);
$tm-maxim: 100%;

// Funcion para el Posicionamiento de la imagen en las secciones
@mixin pos_section {
    width: 200px;
    height: 160px;
    border-radius: 0.3125rem;
}
// Funcion para centrar el texto en cada imagen del grid
@mixin grid_centerText {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    text-align: center; 
    background: rgba(0,0,0,.5);
    padding: 0.625rem;
}
/* Estilos del Cuerpo (Main) */
/* Importamos la Imagen Principal en css y aplicamos unos cuantos estilos */
.main .imgP {
    width: $tm-maxim;
    height: 550px;
    // aniauments de la propiedad Background
    background: {
        image: url(../img/header.jpg);
        size: cover;
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
    }
    overflow: hidden;
    /* Oscurecemos la Imagen para que sobresalte el texto */
    .oscuro {
        height: $tm-maxim;
        background: $rgbaN;
        .titulo{
            position: relative;
            top: 12.5rem;
            left: 8.75rem;
            h1 {
                color: $rgbaB;
                    // aniauments de la propiedad font
                font: {
                    size: 3.135rem;
                    weight: 100;
                }
                span{
                    font-weight: bold;
                }
            }
            p{
                width: 40%;
                text-align: center;
                line-height: 2em;
            }
        }
    }
}
/* Contenemos todo el main excepto la Imagen principal y lo centramos */
.main {
    .contenedor {
        width: 75%;
        max-width: 1000px;
        margin: auto;
        h2 { color: $colorN;
        p { color: $colorN; }
        }
        .nosotros {
            h2 { margin-top: 3.125rem; }
            .seccion1 {
                img {
                    @include pos_section; // Llamar a la funcion pos_section
                    margin: 1.25rem 0;
                    float: left;
                }
                p{
                    width: 95%;
                    position: relative;
                    top: 1.5625rem;
                    left: 0.625rem;
                    text-align: justify;
                    color: $colorN;
                }
            }
            .seccion2 {
                clear: both;
                img {
                    @include pos_section; // Llamar a la funcion pos_section
                    float: right;
                    margin: -1.25rem 0.625rem; 
                }
                p {
                    width: $tm-maxim;
                    text-align: justify;
                    color: $colorN;
                }
            }
        }
    .carta-grid{
        color: $colorN;
        margin: 5rem 0;
        .menu {
            h2{
                width: $tm-maxim;
                height: 50px;
                text-align: center;
                background: rgb(6, 6, 104);
                color: $colorB;
                margin: 1.25rem 0;
                padding: 0.625rem 0;
            }
        }
        /* Parte 3 Grid */
        .menu-container{
            width: $tm-maxim;
            padding: 1.25rem 0;
            display: grid;
            // aniauments de la propiedad grid
            grid: {
                template-columns: 10.9375rem 1fr 1fr;
                gap: 0.625rem;
            }       
        }
        .menu-item{
            position: relative;
            &:nth-child(3), &:nth-child(4){
                color: $colorB;
            }
            &:nth-child(1){
                grid-row-start: span 2;
                width: $tm-maxim;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid blue;
                font-size: 1.3em;
            }
            .menu { font-weight: bold; }
            &:nth-child(3) p{
                // Llamar a la funcion grid_centerText
                @include grid_centerText;
            }
            &:nth-child(4) p{
                // LLamar a la funcion grid_centerText
                @include grid_centerText;
            }
            &:nth-child(2) {
                grid-column-start: span 2;
                line-height: 1.5625rem;
            }
            .menu { font-weight: none; }
        }
        .imagen {
            width: $tm-maxim;
            height: $tm-maxim;
            object-fit: cover;
            opacity: .65;
            // Aniuament del hover
            &:hover {
                opacity: 1;
                cursor: pointer;
                transition: 1s ease all;  
            }
        }
    }
    .title-galeria{ margin: -1.5625rem 0; }
    /* Parte 4 Flexbox */
    .galeria-flex{
        margin-top: 3.4375rem;
        width: $tm-maxim;
        display: flex;
        // Aniuaments de la propiedad flex
        flex: {
            wrap: wrap;
            direction: row;
        }
        img{
            width: 20%;
            height: 120px;
            object-fit: cover;
            // Aniuaments de la propiedad margin
            margin: {
                bottom: 0.625rem;
                left: 0.625rem;
            }
            border: 1px solid #333;
            padding: 0.125rem;
            flex: auto;
            // Aniuament del hover
            &:hover{
                cursor: pointer;
                transform: rotate(-1.2deg) scale(1.05);
                transition: 0.6s ease-out;
                filter: grayscale(0.9);
                box-shadow: 1px 1px 3px $colorN;
            }
            &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8){
                filter: grayscale(0.9); 
            }
        }
    }
    }
}